.circle1,.circle2,.circle3,.circle4,.circle5{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.circle1{
	background: conic-gradient(
		yellow,
		red,
		green,
		pink);

}

.circle2{
	background: conic-gradient(
		#fcba03,
		#ab0e4a,
		#092e73,
		#50bd11);

}

.circle3{
	background: conic-gradient(
		rgba(245, 40, 145, 0.8),
	    rgba(22, 199, 113, 0.8),
		rgba(112, 111, 8, 0.8),
		rgba(94, 8, 112, 0.8)
	);
}

.circle4{
	background: conic-gradient(
		hsla(102, 100%, 50%, 1),
		hsla(37, 100%, 43%, 1),
		hsla(189, 100%, 43%, 1),
		hsla(298, 100%, 50%, 1)
	);
}

.circle5{background: conic-gradient(
red 40%,
yellow 0% 60%,
blue 0% 80%,
green 0%
);

}


.boxone{
	width: 600px;
	height: 300px;
	background-color: green;
	display: flex;

/*hz and vt centers depend on display: flex;*/
/*	hz center*/
justify-content: center;
/*vt center*/
align-items: center;

/*display: grid;
place-items: center;*/

position: relative;
    
}

.boxone .div1{
	width: 300px;
	height: 300px;
	background-color: #000;
	border-radius: 50%;

	position: absolute;
/*	Below properties depend on position:absolute;*/
/*	Take body's left:0; and top:0;*/
    /*left: 0;
    top: 0;*/
    z-index: 2;
   
}

.boxone .div2{
	width: 320px;
	height: 320px;
/*	background-color: orange;*/
/*background: linear-gradient(red,orange);*/
   background: conic-gradient(
   	red,
   	violet 30%,
   	red 0%,
   	blue 70%,
   	red 0%,
   	yellow 100%
   );
	border-radius: 50%;

	/*position: absolute;
	left: 0;
	top: 0;*/

	position: absolute;
/* z-index can be used only if we have position*/
	z-index: 1;

}


.pointercontainer{
	width: 20px;
	height: 200px;
/*	background-color: gray;*/

	position: absolute;
	top:-50px;

	z-index: 3;
/*We want to turn the container.So give properties to parent(pointercontainer)*/
    animation-name: myani;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	transform-origin: bottom;

}


.pointer{
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 50%;

	display: block;


}

@keyframes myani{
/*	from*/0%{
		transform:rotate(0deg) ;
	}

/*	to*/100%{
		transform:rotate(360deg);
	}
}

/*display:block;
display:inline;
display:inline-block*/